.calc {
  width: 320px;
  margin: 50px auto;
}

body {
  background: #12c2e9a9;
  background: -webkit-linear-gradient(to right #f64 #c471ec #12c2e1);
  background: linear-gradient(to right #f64 #c471ec #12c2e1);
}

#answer {
  background-color: #e3e3e3;
  padding: 10px;
  font-size: 35px;
  width: 295px;
  height: 45px;
  text-align: right;
  border: 3px solid #333;
}

.button {
  background: #333;
  height: 80px;
  width: 80px;
  color: aliceblue;
  font-size: 30px;
  border: 1px solid black;
  float: left;
}

.button1 {
  width: 160px;
}
